name: CI
on:
  pull_request:
  push:
    branches-ignore:
      - 'dependabot/**'
permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-24.04
    name: Test
    steps:
      - uses: actions/checkout@v5
      - name: Set up Nox
        uses: wntrblm/nox@d9e5e0c2e39e5122e635d76cd2ba3268d67eb18f # 2025.10.16
        with:
          python-versions: '3.13, 3.14'
      - name: setup annotations for flake8 results
        uses: airtower-luna/flake8-annotations@d29f60162d03c010b8604adc1d5b825c989a9acc # node20
      - name: Run tests and linter
        run: |
          nox --report test-report.json
      - name: Run this action on the Nox report from tests
        if: always()
        uses: ./
        with:
          report: 'test-report.json'
          title: Self-test
